<% include ../partials/header.ejs %>
<body id="dashboard">

<div class="dashboard-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="dashboard-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title"><%= pageTitle %></span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Tapez votre recherche...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item"><a href="/logout">Deconnexion</a></li>
      </ul>
    </div>
  </header>
  <div class="dashboard-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="drawer-header">
      <img src="<% if( user.avatar ) { %><%= user.avatar %><% } else { %>/assets/img/users.png<% } %>" class="avatar">
      <div class="avatar-dropdown">
        <span><%= user.username %></span>
        <div class="mdl-layout-spacer"></div>
        <!--<button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button&#45;&#45;icon">-->
          <!--<i class="material-icons" role="presentation">arrow_drop_down</i>-->
          <!--<span class="visuallyhidden">Accounts</span>-->
        <!--</button>-->
        <!--<ul class="mdl-menu mdl-menu&#45;&#45;bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">-->
          <!--<li class="mdl-menu__item">hello@example.com</li>-->
          <!--<li class="mdl-menu__item">info@example.com</li>-->
          <!--<li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>-->
        <!--</ul>-->
      </div>
    </header>
    <nav class="dashboard-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link active" href="/dashboard"><i class=" material-icons" role="presentation">home</i>Tableau de bord</a>
      <a class="mdl-navigation__link" href="/dashboard/users"><i class=" material-icons" role="presentation">people</i>Utilisateurs</a>
      <!--<a class="mdl-navigation__link" href=""><i class=" material-icons" role="presentation">delete</i>Trash</a>-->
      <!--<a class="mdl-navigation__link" href=""><i class=" material-icons" role="presentation">report</i>Spam</a>-->
      <!--<a class="mdl-navigation__link" href=""><i class=" material-icons" role="presentation">forum</i>Forums</a>-->
      <!--<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">flag</i>Updates</a>-->
      <!--<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">local_offer</i>Promos</a>-->
      <!--<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">shopping_cart</i>Purchases</a>-->
      <!--<a class="mdl-navigation__link" href=""><i class="material-icons" role="presentation">people</i>Social</a>-->
      <!--<div class="mdl-layout-spacer"></div>-->
      <!--<a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>-->
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid dashboard-content">
      <div class="mdl-cell mdl-cell--8-col mdl-color--white mdl-shadow--2dp chat-box">
        <ul class="message-list" id="message-list">
          <% var today = moment(), currentTimeDivider, i = 0; %>
          <% messages.forEach( function ( message ) { %>
            <% i++; %>

          <li class="message <% if( message.__author.id == user.id ) { %>right<% } %>" id="message_<%= message._id %>">
            <div class="message-box-wrapper">
              <div class="message-sender-avatar">
                <img src="<% if( message.__author.avatar ) { %><%= message.__author.avatar %><% } else { %>/assets/img/users.png<% } %>" alt="">
              </div>
              <div class="message-box mdl-shadow--2dp">
                <span class="message-sender-username"><%= message.__author.username %></span>
                <span class="message-meta"><%= moment( message.created ).format( "HH:mm" ) %></span>
                <div class="message-body">
                  <%= message.content %>
                </div>
              </div>
            </div>
          </li>
          <%
          if( i == messages.length || ( currentTimeDivider && moment( currentTimeDivider ).diff( moment( message.created ), 'days' ) > 0 )){
            var diff = today.diff( moment( message.created ), 'days' ),
                    display = diff == 0 ? "today" : diff == 1 ? "yesterday" : "later-than-yesterday",
                    string = diff == 0 ? "Aujourd'hui" : diff == 1 ? "Hier" : moment( message.created ).format( "DD-MMM-YYYY" );

          %>

          <li class="time-divider" id="<%= display %>">
            <span class="mdl-shadow--1dp"><%= string %></span>
          </li>

          <% }  %>
            <% currentTimeDivider = message.created %>
          <% } ) %>

        </ul>
        <div class="message-submit-box" data-csrfToken="<%= csrfToken %>" data-username="<%= user.username %>" data-avatar="/assets/img/users.png" id="submit-box">
          <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
          <div class="textarea" contenteditable="true" id="message-input"></div>
          <button type="submit" class="mdl-button mdl-js-button" id="submit-button" disabled><i class="material-icons">send</i></button>
        </div>
      </div>
    </div>
  </main>
</div>

<% include ../partials/footer.ejs %>